n8n/workflows/01-abandoned-cart.json
{
  "name": "01 · Carrito Abandonado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cada 2 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/automation/abandoned-carts?hoursInactive=24&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-list-carts",
      "name": "Listar carritos abandonados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-carts",
      "name": "Por cada carrito",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_API_URL}}/api/automation/abandoned-carts/{{$json.cartId}}/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-notify-cart",
      "name": "Enviar email recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cada 2 horas": {
      "main": [[{ "node": "Listar carritos abandonados", "type": "main", "index": 0 }]]
    },
    "Listar carritos abandonados": {
      "main": [[{ "node": "Por cada carrito", "type": "main", "index": 0 }]]
    },
    "Por cada carrito": {
      "main": [[{ "node": "Enviar email recordatorio", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [{ "name": "marketing" }, { "name": "loyalty" }]
}
